mixin header(active)
    header 
        #navBar 

            a(href="./index.html#indexContents" class=active=='home' ? 'active' : '', ) Home 
            a(href="./index.html#skillsContents", class=active=='skills' ? 'active' : '') Skills and Education 
            a(href="./index.html#galleryContents", class=active=='gallery' ? 'active' : '') My Gallery   
            a(href="./index.html#highlightsContents", class=active=='highlights' ? 'active' : '') Highlights
            a(href="./blog.html#blogContents", class=active=='blog' ? 'active' : '') Blog  